################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CreditCardInterestCalculator/.vs/CreditCardInterestCalculator/v15
